.body-component {
  margin: 10px 15px;
}

.bold-text {
  margin: 0px;
  color: hsl(218, 44%, 22%);
  font-size: 22px;
  font-weight: bolder;
  text-align: center;
}

.normal-text {
  margin: 15px 0px;
  color: hsl(220, 15%, 55%);
  font-size: 15px;
  font-weight: 600;
  text-align: center;
}
